* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.parent {
    display: flex;
    margin-top: 200px;
}

.img {
    padding: 80px;
    width: 40%;
}

.img img {
    width: 100%;
    height: 100%;
}

.forms {
    margin-left: 50px;
    width: 60%;
}

.forms h1 {
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 600;
}

.form-content {
    width: 70%;
    margin-left: 20px;
}

.form-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.google,
.apple,
.create-account,
.sign-in {
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: 70%;


}

.google a,
.apple a,
.create-account a,
.sign-in a {
    color: black;
    text-decoration: none;
}

.apple i,
.google i {
    font-size: 25px;
    margin: 0 8px;
}

.create-account {
    background-color: deepskyblue;
    color: white;
    margin-top: 0;
}

.create-account a {
    font-weight: 700;
    width: 100%;
    margin-left: 110px;
}

.or {
    width: 70%;
    margin-top: 10px;
}

.terms {
    margin-top: 5px;
    width: 70%;
}

.terms p {
    font-size: 13px;
}

.terms p a {
    text-decoration: none;
}

.already p {
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.google:hover,
.apple:hover {
    background-color: rgb(220, 233, 238);
}

.create-account:hover {
    background-color: skyblue;
}

.sign-in a {
    font-weight: 700;
    width: 100%;
    margin-left: 140px;
}

.sign-in:hover {
    background-color: aliceblue;
}

.footer {
    margin-top: 185px;
    font-size: 11.9px;
}

.footer a {
    color: black;
    text-decoration: none;
}

/* Header / Slider css */
.active_class {
    font-weight: 600;
    color: black;
}

.slider {
    width: 25%;
    margin-top: 20px;
    position: fixed;
}

.items {
    width: 50%;

}

.items li {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    font-size: 22px;
}

.items li:hover {
    background-color: rgb(231, 231, 232);
    padding: 10px;
    border-radius: 20px;
}

.items a {
    text-decoration: none;
    margin-top: 10px;
    font-weight: 200;
}

.items span {
    margin-left: 20px;
}

.items i {
    font-size: 20px;
}

.post {
    border-radius: 25px;
    width: fit-content;
    padding: 10px 90px;
    text-decoration: none;
    font-size: 25px;
}


.user_profile {
    display: flex;
    margin-top: 30px;
    border-radius: 40px;
    width: 50%;
}

.user_profile:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.user_image {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 14px;

}

/* .user_image img{
    height: 80%;
} */
.user_data {
    margin-left: 20px;
    margin-top: 10px;
}

.profle_name {
    font-size: 20px;
    font-weight: 500;
}

.ellipsis {
    margin-top: 25px;
}

.profile_model {
    padding: 8px 10px;
    margin-top: 8px;
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    box-shadow: 1px 1px 2px 2px rgb(182, 182, 182);
}

.profile_model a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.for_logout {
    margin: 0 auto;
    margin-top: 151px;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgb(182, 182, 182);
    display: none;

}

/* Main Footer css */
.footers {
    width: 18%;
    margin-left: 1028px;
    position: fixed;
    padding: 10px;
    border: 1px solid rgb(239, 243, 244);
    background-color: white;
    color: black;
}

.footerss {
    margin-top: 20px;
}

.footer-search-div {
    border: 1px solid rgb(239, 243, 244);
    padding: 10px;
    border-radius: 20px;
}

.search_user {
    display: flex;
    padding: 0;
}

.search_user:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

#searches,
#empty {
    backdrop-filter: brightness(200%);
}

.try {
    margin-left: 30px;
    margin-top: 20px;
    color: grey;
    font-size: 18px;
}

.serach_data {
    margin-left: 10px;
}

.right {
    margin-right: 260px;
    margin-top: 70px;
}

.f-anchor {
    color: black;
    font-size: 11px;
    text-decoration: none;
}

.footer-search-input {
    border: none;
    margin-left: 10px;
    width: 80%;
}

.who-to-follow {
    font-size: 20px;
    font-weight: 700;
}

.show-to-follow {
    display: flex;
}

.show-to-follow-data {
    margin-left: 10px;
    width: 120px;
}

.show-to-follow-data a {
    color: black;
    text-decoration: none;
}

.show-to-follow-name {
    font-weight: 600;
}

.n_following {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

.n_following:hover {
    color: white;
}

.show-to-follow-btn {
    margin-top: 12px;
    margin-left: 10px;
    margin-right: -25px;
}

.show_more {
    text-decoration: none;
}

/* Content Part css */
.middle {
    width: 40%;
    border-radius: 5px;
    position: absolute;
    border: 1px solid rgb(239, 243, 244);
    margin-left: 250px;
}

.middle .ul {
    margin-top: -1px;
    width: 100%;
    border-bottom: 1px solid rgb(239, 243, 244);
    border-right: 1px solid rgb(239, 243, 244);
    background-color: rgba(255, 253, 253, 0.94);
}

.middle .ul:hover {
    cursor: pointer;
}

.middle li a {
    list-style: none;
    text-decoration: none;
    width: 48%;
    color: grey;
    padding: 20px 125px;
    font-weight: 500;
}

.middle li {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}



.index-post {
    margin-top: 65px;
    padding: 15px;
    border-bottom: 1px solid rgb(239, 243, 244);
    width: 100%;
}

.all-post {
    margin-top: 15px;
    padding: 15px;
    border-bottom: 1px solid rgb(239, 243, 244);
    width: 100%;
    margin-right: 0px;
}

.index-sess {
    height: 40px;
    width: 40px;
}

.index-sess img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}

.index-sess:hover {
    cursor: pointer;
}



.index-post-form {
    display: flex;
    width: 100%;
}

.index-inp {
    margin-top: 5px;
}

.index-inp textarea {
    border: transparent;
}

.index-inp textarea::placeholder {
    font-size: 20px;
}

.index-inp input {
    border: transparent;
    width: 400px;
    padding: 10px;
}

.index-inp input::placeholder {
    font-size: 20px;
}

#img-label {
    font-size: 25px;
}

.index-post-icons {
    margin-left: 20px;
    display: flex;
}

.post-icons {
    margin-top: 10px;
    margin-left: 15px;
}

#media-form img:hover {
    cursor: pointer;
}

.hover:hover {
    background-color: rgb(231, 231, 232);
}

.post-icons:hover,
.post-icon:hover {
    cursor: pointer;
}

.post-icon {
    margin-left: 20px;
}

.post-btn {
    margin-left: 100px;
}

.post-btn a {
    background-color: rgb(17, 17, 17);
    border-radius: 20px;
    color: white;
    padding-top: 20px;
}

.post-button {
    margin-left: 100px;
}

.post-image-hover:hover {
    cursor: pointer;
}


.post-btn a,
.post-button a {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
}

.post-err {
    color: red;
    margin-top: 10px;
    margin-left: 30px;
}

.parent_div {
    display: flex;
}

.comment_user {
    margin-top: 5px;
    margin-left: 10px;
}

.comment_name {
    font-size: 18px;
    font-weight: 500;
}

.comment_username {
    color: grey;
}

#comment_input {
    margin-top: 8px;
    margin-left: 40px;
    width: 380px;
    border: none;
}

#comment_input::placeholder {
    font-size: 20px;
}

#comment_input_foryou {
    margin-top: 8px;
    margin-left: 40px;
    width: 380px;
    border: none;
}

#comment_input_foryou::placeholder {
    font-size: 20px;
}

.comment_reply_btn,
.comment_reply_btn_forYou {
    color: white;
    background-color: grey;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    margin-left: 350px;
    margin-bottom: 10px;
}

.comment-err-msg,
.comment-err-msg-foryou {
    color: red;
    margin-left: 40px;
    margin-top: 20px;
}

/* Notification Tab */
.notification {
    width: 40%;
    position: absolute;
    border: 1px solid rgb(239, 243, 244);
    border-radius: 5px;
    margin-left: 250px;
}

.show_notifications {
    margin-top: 120px;
}

.n_parent {
    display: flex;
    padding: 20px;
}

.n_parent:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.n_img img {
    border-radius: 50%;
}

.n_userdata {
    margin-left: 15px;
}

.n_name {
    font-size: 18px;
    font-weight: 500;
}

.n_username {
    color: grey;
    font-size: 18px;
    font-weight: 400;
}

.empty_n {
    font-size: 25px;
    margin-top: 130px;
    margin-left: 200px;
}

.n_time {
    color: grey;
    font-size: 18px;
    font-weight: 400;
}

.notification-fix {
    position: fixed;
    border-right: 1px solid rgb(239, 243, 244);
    border-bottom: 1px solid rgb(239, 243, 244);
    width: 40%;
    background-color: white;
}

.notification-fix:hover {
    cursor: pointer;
}

.notification-list li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    width: 30%;
}

.notification-list a {
    text-decoration: none;
    padding: 7% 40%;
    color: grey;
    font-weight: 500;
    width: 100%;
}

.notify {
    font-size: 22px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 10px;
}

.verified-img {
    margin-top: 150px;
    margin-left: 200px;
}

.verified-msg {
    font-size: 30px;
    font-weight: 700;
}

.verify {
    width: 45%;
    margin-left: 190px;
}

.mention-msg {
    width: 80%;
    margin-left: 50px;
    margin-top: 30px;
}

.mention-p {
    font-size: 18px;
}

.anchor {
    color: black;
    font-weight: 500;
}

.mentions {
    margin-top: 120px;
}

/* Profile Tab */
.profile {
    width: 40%;
    position: absolute;
    margin-left: 250px;
    border: 1px solid rgb(239, 243, 244);
    border-radius: 5px;
    color: black;
}

.c_user_data {
    display: flex;
    margin-left: 20px;
}
.c_user_data:hover{
    cursor: pointer;
}
.c_usernames {
    margin-top: 2px;
    margin-left: 10px;
}

.c_name {
    font-weight: 500;
}

.c_username {
    color: grey;
}

.c_user_post {
    padding-left: 28px;
    margin-left: 40px;
    border-left: 2px solid rgb(195, 197, 197);
}

.follow_user {
    margin-top: 20px;
    padding-left: 30px;
}


.follow_active {
    border-bottom: 3px solid deepskyblue;
    padding: 0 40px;
    padding-bottom: 10px;
}

.ul_list a {
    text-decoration: none;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

.ul_list a:hover {
    background-color: rgb(236, 236, 236);

}

.ul_list span {
    color: grey;
}

.ul_list ul {
    margin: 0;
    padding: 0;
    margin-right: -13px;
    margin-bottom: 25px;
}

.ul_list li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    width: 48.71%;

}

.see_followers:hover,
.see_user_followers,
.see_user_following,
.see_following:hover {
    cursor: pointer;
}

.see_following,
.see_followers,
.see_user_following,
.see_user_followers {
    color: black;
    text-decoration: none;
}

.profile-name {
    padding: 0 50px;
}

.pro-name {
    font-size: 20px;
    font-weight: 700;
}

.no {
    margin-top: 30px;
    margin-left: 250px;
    margin-bottom: 30px;
}

.user_pro-name {
    font-size: 20px;
    font-weight: 700;
}

.what {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.trending span {
    color: grey;
    font-size: 18px;
}

.trending p {
    font-size: 18px;
    font-weight: 700;
}

.trending:hover,
.what:hover {
    cursor: pointer;
}

.cover {
    margin-top: -8px;
    height: 200px;
    /* background: rgb(207, 217, 222); */
    /* background: url('images/Capture.PNG'); */
    background-size: 700px 200px;
    width: 100%;
    background-repeat: no-repeat;
}

.user_cover {
    margin-top: -8px;
    height: 200px;
    /* background: rgb(207, 217, 222); */
    background: url('images/Capture.PNG');
    background-size: 700px 200px;
    width: 100%;
    background-size: 800px 250px;
    background-repeat: no-repeat;
}

.covers {
    height: 160px;
}

#cover_edit {
    width: 100px;
}

.profile-pic {
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
}

.user_profile-pic {
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: rgb(231, 231, 231);
}

.edit-btn {
    margin-top: 30px;
}

.follow-btn {
    margin-top: 10px;
}

.follow {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    margin-left: 550px;
    width: fit-content;
    background-color: black;
    padding: 5px 15px;
    border-radius: 20px;
}

.follow:hover {
    color: white;
}

.edit-profile-pic {
    height: 100px;
    width: 100px;
    margin-left: 30px;
    color: red;
    margin-top: -50px;
    border-radius: 50%;
    background-color: rgb(110, 190, 110);
}

.profile-fname {
    font-size: 50px;
    color: white;
    padding-top: 13px;
    padding-left: 35px;
}

.edit {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin-left: 550px;
    border: 1px solid rgb(239, 243, 244);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 20px;
}

.edit:hover {
    background-color: rgb(231, 231, 231);
    text-decoration: none;
    color: black;
}

.profile-data {
    margin-top: 20px;
    margin-left: 20px;
}

.follow_people {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    margin-left: 190px;
}

.following {
    font-weight: 600;
}

.follower,
.user_follower {
    margin-left: 50px;
    font-weight: 600;
}

.profile-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    padding-left: 32px;
    color: grey;
    width: 16%;
    font-size: 18px;
    justify-content: center;
}

.profile-menu ul a {
    text-decoration: none;
    font-weight: 500;
}

.profile-menu ul li:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}



.profile-menu-item {
    border-bottom: 3px solid deepskyblue;
    padding-bottom: 15px;
    font-weight: 500;
}

.likes {
    margin-top: 5px;
    padding: 1px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: rgb(234, 250, 255);
}

.like,
.comment-count {
    margin-left: -15px;
}

.like-text {
    font-size: 15px;
}

.media {
    margin-top: -17px;
}

.media-post {
    width: 33.33%;
    height: 200px;
    float: left;
    border: 1px solid rgb(239, 243, 244);
}

.media-post:hover {
    cursor: pointer;
    background-color: rgb(232, 245, 253);
}

.media-post img {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.post-user-info {
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 50%;
}

.time {
    margin-left: 20px;
    color: grey;
}

.time:hover {
    cursor: pointer;
}

.post-user-info:hover {
    background-color: rgb(214, 240, 247);
    cursor: pointer;
}

.postuser-name:hover {
    cursor: pointer;
}

.user-post {
    display: flex;
    border: 1px solid rgb(239, 243, 244);
    padding: 20px 0;
}

.user-post:hover {
    background-color: rgb(247, 247, 247);
}

.post-name {
    font-weight: 500;
    font-size: 18px;
}

.post-username {
    color: grey;
}

.postuser-name {
    margin-top: 7px;
    width: 80%;
}

.post-content {
    margin-top: -10px;
    font-size: 15px;
}

.post-delete-icon {
    padding-top: 10px;
    margin-left: 20px;
}

.post-delete-icon i {
    border-radius: 50%;
    padding: 12px;
}

.post-delete-icon i:hover {
    background-color: rgb(189, 242, 255);
    cursor: pointer;
    color: deepskyblue;
}

.post-img {
    border: 1px solid rgb(207, 217, 222);
    height: 350px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.post-img:hover {
    background-color: rgb(225, 238, 246);
}

.post-img img {
    height: 100%;
    width: 100%;
}

.icons {
    margin-top: 20px;
}

.comment-icon {
    margin-left: 140px;
    padding: 15px;
    border-radius: 50%;
}



.like-icon {
    padding: 15px;
    border-radius: 50%;
    margin-left: 220px;
}


.posts {
    margin-top: -17px;
}

.edit_cover_pic_div,
.edit_profile_pic_div {
    position: relative;
    width: 550px;
    height: 150px;
    margin: 0 auto;

}

.edit_cover_pic_div {
    width: 100%;
    height: 150px;
}

.profile_pics {
    background-color: #d4d4d4;
}

.user_profile_pics {
    background-color: #d4d4d4;
}

.edit_profile_pic_div {
    margin-top: -50px;
    margin-left: 30px;
    height: 10px;
}

.edit_cover_pic_div img {
    width: 100%;
    height: 100%;
}

.heart-icon {
    color: #ccc;
    font-size: 24px;
    transition: color 0.3s ease;
}

.liked {
    color: deeppink;
}

.edit_profile-pic_div label img:hover {
    cursor: pointer;

}

.edit_profile-pic_div {
    position: absolute;
}

.myeditpic {
    position: absolute;
    height: 30px;
    margin-left: -75px;
    margin-top: -10px;
    background-color: white;
}

.myeditpic:hover {
    cursor: pointer;
}

.edit-icon {
    position: absolute;
    top: 50%;
    margin-left: 230px;
    transform: translate(-50%, -50%);
}

.edit-icon img {
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.edit-icon img:hover {
    cursor: pointer;
}

.cover-label i {
    color: white;
    font-size: 25px;
}

.cover-label:hover {
    cursor: pointer;
}

.model-ul li {
    font-size: 17px;
    margin-top: 15px;
    list-style: none;
}

.model-ul li:hover {
    background-color: #f7f7f7;
}

.model-ul a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 5px;
}

.length {
    margin-left: 420px;
}

.error {
    color: red;
}

.active_user {
    border-bottom: 3px solid deepskyblue;
    padding: 0 40px;
    padding-bottom: 10px;
}

.post_menu {
    border-bottom: 1px solid rgb(239, 243, 244);
}

.post_menu a {
    text-decoration: none;
    padding: 20px 0;
    text-align: center;
    font-size: 20px;
}

.post_menu a:hover {
    background-color: rgb(236, 236, 236);

}

.post_menu span {
    color: grey;
}

.post_menu ul {
    margin: 0;
    padding: 0;
    margin-right: -13px;
    margin-bottom: 25px;
}

.post_menu li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    width: 48.71%;

}

/* Follow Page / Connect */

.connect {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 23px;
    font-weight: 700;
}

.to-follow {
    margin-left: 250px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid deepskyblue;
    width: fit-content;
    padding-bottom: 10px;
    padding: 10px 55px;
}

.to-follow:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.follow-div {
    border-bottom: 1px solid rgb(239, 243, 244);
}

.suggest {
    margin-top: 10px;
    margin-left: 80px;
}

.suggest p {
    font-size: 22px;
    font-weight: 700;
}

.not_following {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 35px;
    border-radius: 25px;
}

.not_following:hover {
    color: white;
}


.show-to-followw-btn {
    margin-top: 12px;
    margin-left: 100px;
}


.show-to-followw-data {
    margin-left: 10px;
}

.show-to-followw-data a {
    text-decoration: none;
    color: black;
}

.show-to-followw-name {
    font-weight: 600;
    font-size: 18px;
}

.followw {
    width: 767px;
}

.background {
    padding: 10px 0;
    width: 330px;
}

.background:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.background-follow {
    padding: 10px 20px;
}

.background-follow:hover {
    background-color: rgb(247, 247, 247);
}