* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

.parent {
    display: flex;
    margin-top: 200px;
}

.img {
    padding: 80px;
    width: 40%;
}

.img img {
    width: 100%;
    height: 100%;
}

.forms {
    margin-left: 50px;
    width: 60%;
}

.forms h1 {
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 600;
}

.form-content {
    width: 70%;
    margin-left: 20px;
}

.form-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.google,
.apple,
.create-account,
.sign-in {
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: 70%;


}

.google a,
.apple a,
.create-account a,
.sign-in a {
    color: black;
    text-decoration: none;
}

.apple i,
.google i {
    font-size: 25px;
    margin: 0 8px;
}

.create-account {
    background-color: deepskyblue;
    color: white;
    margin-top: 0;
}

.create-account a {
    font-weight: 700;
    width: 100%;
    margin-left: 110px;
}

.or {
    width: 70%;
    margin-top: 10px;
}

.terms {
    margin-top: 5px;
    width: 70%;
}

.terms p {
    font-size: 13px;
}

.terms p a {
    text-decoration: none;
}

.already p {
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.google:hover,
.apple:hover {
    background-color: rgb(220, 233, 238);
}

.create-account:hover {
    background-color: skyblue;
}

.sign-in a {
    font-weight: 700;
    width: 100%;
    margin-left: 140px;
}

.sign-in:hover {
    background-color: aliceblue;
}

.footer {
    margin-top: 185px;
    font-size: 11.9px;
}

.footer a {
    color: black;
    text-decoration: none;
}

/* Header / Slider css */
.active_class {
    font-weight: 800;
    color: black;
}

.slider {
    width: 25%;
    margin-top: 20px;
    position: fixed;
}

.items {
    width: 50%;

}

.items li {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    font-size: 22px;
}

.items li:hover {
    background-color: rgb(231, 231, 232);
    padding: 10px;
    border-radius: 20px;
}

.items a {
    text-decoration: none;
    margin-top: 10px;
    font-weight: 200;
}

.items span {
    margin-left: 20px;
}

.items i {
    font-size: 20px;
}

.post {
    border-radius: 25px;
    width: fit-content;
    padding: 10px 90px;
    text-decoration: none;
    font-size: 25px;
}


.user_profile {
    display: flex;
    margin-top: 30px;
    border-radius: 40px;
    width: 50%;
}

.user_profile:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.user_image {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 17px;

}

/* .user_image img{
    height: 80%;
} */
.user_data {
    margin-left: 10px;
    margin-top: 10px;
}

.profle_name {
    font-size: 20px;
    font-weight: 500;
}

.ellipsis {
    margin-top: 25px;
}

.profile_model {
    padding: 8px 10px;
    margin-top: 8px;
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    box-shadow: 1px 1px 2px 2px rgb(182, 182, 182);
}

.profile_model a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.for_logout {
    margin: 0 auto;
    margin-top: 151px;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgb(182, 182, 182);
    display: none;

}

/* Main Footer css */
.footers {
    width: 16%;
    margin-left: 1028px;
    position: fixed;
    padding: 10px;
    border-left: 1px solid rgb(239, 243, 244);
    background-color: white;
    color: black;
}

.footerss {
    width: 40%;
    margin-left: 1028px;
    border: 1px solid rgb(239, 243, 244);
    border-radius: 5px;
    padding: 10px;
    color: black;
}

.footer-search-div {
    border: 1px solid rgb(239, 243, 244);
    padding: 10px;
    border-radius: 20px;
}

.f-anchor {
    color: black;
    font-size: 11px;
    text-decoration: none;
}

.footer-search-input {
    border: none;
    margin-left: 10px;
    width: 80%;
}

.who-to-follow {
    font-size: 20px;
    font-weight: 700;
}

.show-to-follow {
    display: flex;
}

.show-to-follow-data {
    margin-left: 10px;
    width: 120px;
}

.show-to-follow-data a {
    color: black;
    text-decoration: none;
}

.show-to-follow-name {
    font-weight: 600;
}

.show-to-follow-btn a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

.show-to-follow-btn {
    margin-top: 12px;
    margin-left: 10px;
}

.show_more {
    text-decoration: none;
}

/* Content Part css */
.middle {
    width: 40%;
    border-radius: 5px;
    position: absolute;
    border: 1px solid rgb(239, 243, 244);
    margin-left: 250px;
}

.middle .ul {
    width: 100%;
    border-bottom: 1px solid rgb(239, 243, 244);
    border-right: 1px solid rgb(239, 243, 244);
    background-color: white;
}

.middle .ul:hover {
    cursor: pointer;
}

.middle li a {
    list-style: none;
    text-decoration: none;
    width: 48%;
    color: grey;
    padding: 20px 125px;
    font-weight: 500;
}

.middle li {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}



.index-post {
    margin-top: 65px;
    padding: 15px;
    border-bottom: 1px solid rgb(239, 243, 244);
    width: 100%;
}

.all-post {
    margin-top: 15px;
    padding: 15px;
    border-bottom: 1px solid rgb(239, 243, 244);
    width: 100%;
    margin-right: 0px;
}

.index-sess {
    height: 40px;
    width: 40px;
}

.index-sess img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-top: 10px;
}

.index-sess:hover {
    cursor: pointer;
}



.index-post-form {
    display: flex;
    width: 100%;
}

.index-inp {
    margin-top: 5px;
}

.index-inp input {
    border: transparent;
    width: 600px;
    padding: 10px;
}

.index-inp input::placeholder {
    font-size: 20px;
}

#img-label {
    font-size: 25px;
}

.index-post-icons {
    margin-left: 20px;
    display: flex;
}

.post-icons {
    margin-left: 15px;
}

.hover:hover {
    background-color: rgb(231, 231, 232);
}

.post-icons:hover {
    cursor: pointer;
}

.post-btn {
    margin-left: 220px;
}

.post-btn a {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 600;
}

/* Explore Tab */
.explore {
    width: 40%;
    border: 1px solid rgb(239, 243, 244);
    position: absolute;
    border-radius: 5px;
    margin-left: 250px;
}

.exp {
    margin-top: 20px;
}

.explore-search-div {
    border: 1px solid rgb(239, 243, 244);
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    margin-left: 30px;
}

.explore-search-input {
    border: none;
    width: 90%;
    margin-left: 10px;
}

.explore-setting {
    margin-top: 10px;
    margin-left: 30px;
}

.explore-setting a {
    color: black;
    font-size: 20px;
}

.explore-list li {
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: -3px;
}

.explore-list a {
    text-decoration: none;
    padding: 10px 35px;
    color: grey;
    font-weight: 500;
}

.explore-foryou {
    margin-top: 130px;
}

.todays-news {
    font-size: 20px;
    font-weight: 600;
}

.foryou-news-heading {
    text-decoration: none;
    font-size: 20px;
    padding: 20px 86.9px;
    color: black;
    width: 100%;
    font-weight: 500;
}

.foryou-news-heading:hover {
    background-color: rgb(247, 247, 247);
    color: black;
}

.news-div {
    margin-top: 30px;
}

.explore-fix {
    position: fixed;
    border-right: 1px solid rgb(239, 243, 244);
    border-bottom: 1px solid rgb(239, 243, 244);
    width: 40%;
    background-color: white;
}

.explore-fix:hover {
    cursor: pointer;
}

.trending {
    margin-top: 140px;
}

.trend-hover {
    padding: 10px;
}

.trending a {
    text-decoration: none;
}

.trend {
    font-size: 15px;
}

.title {
    font-weight: 700;
}

.trend-hover:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.news {
    margin-top: 140px;
}

.news-hover {
    padding: 10px;
}

.news a {
    text-decoration: none;
}

.newss {
    font-size: 15px;
}

.news-title {
    font-weight: 700;
}

.news-hover:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.sport {
    margin-top: 140px;
}

.sports-hover {
    padding: 10px;
}

.sports-hover a {
    text-decoration: none;
}

.sports {
    font-size: 15px;
}

.sports-title {
    font-weight: 700;
}

.sports-hover:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.entertainment {
    margin-top: 140px;
}

.enter-hover {
    padding: 10px;
}

.enter-hover a {
    text-decoration: none;
}

.enter {
    font-size: 15px;
}

.enter-title {
    font-weight: 700;
}

.enter-hover:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.dots {
    margin-left: 550px;
    padding: 10px;
    border-radius: 50%;
}

.dots:hover {
    background-color: rgb(225, 238, 246);
    color: rgb(48, 203, 255);
}

/* Notification Tab */
.notification {
    width: 40%;
    position: absolute;
    border: 1px solid rgb(239, 243, 244);
    border-radius: 5px;
    margin-left: 250px;
}

.notification-fix {
    position: fixed;
    border-right: 1px solid rgb(239, 243, 244);
    border-bottom: 1px solid rgb(239, 243, 244);
    width: 40%;
    background-color: white;
}

.notification-fix:hover {
    cursor: pointer;
}

.notification-list li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    width: 30%;
}

.notification-list a {
    text-decoration: none;
    padding: 7% 40%;
    color: grey;
    font-weight: 500;
    width: 100%;
}

.notify {
    font-size: 22px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 10px;
}

.verified-img {
    margin-top: 150px;
    margin-left: 200px;
}

.verified-msg {
    font-size: 30px;
    font-weight: 700;
}

.verify {
    width: 45%;
    margin-left: 190px;
}

.mention-msg {
    width: 80%;
    margin-left: 50px;
    margin-top: 30px;
}

.mention-p {
    font-size: 18px;
}

.anchor {
    color: black;
    font-weight: 500;
}

.mentions {
    margin-top: 120px;
}


/* Bookmarks Tab */

.bookmark {
    width: 40%;
    position: absolute;
    border: 1px solid rgb(239, 243, 244);
    border-radius: 5px;
    margin-left: 250px;
}

.bookmark-fix {
    padding: 10px 0;
    position: fixed;
    border-bottom: 1px solid rgb(239, 243, 244);
    border-right: 1px solid rgb(239, 243, 244);
    width: 40%;
    background-color: white;
}

.mesg {
    font-size: 22px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
}

.save-post {
    margin-top: 150px;
    margin-left: 230px;
}

.bookmark-msg {
    margin-left: 175px;
}

/* Profile Tab */
.profile {
    width: 40%;
    position: absolute;
    margin-left: 250px;
    border: 1px solid rgb(239, 243, 244);
    border-radius: 5px;
    color: black;
}

.profile-name {
    padding: 0 50px;
}

.pro-name {
    font-size: 20px;
    font-weight: 700;
}

.cover {
    margin-top: -8px;
    height: 200px;
    /* background-color: rgb(207, 217, 222); */
    background: url('images/Capture.PNG');
    background-size: 700px 200px;
    width: 100%;
    background-repeat: no-repeat;
}

.profile-pic {
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: rgb(110, 190, 110);
}

.edit-btn {
    margin-top: 30px;
}

.edit-profile-pic {
    height: 100px;
    width: 100px;
    margin-left: 30px;
    color: red;
    margin-top: -50px;
    border-radius: 50%;
    background-color: rgb(110, 190, 110);
}

.profile-fname {
    font-size: 50px;
    color: white;
    padding-top: 13px;
    padding-left: 35px;
}

.edit {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    margin-left: 550px;
    border: 1px solid rgb(239, 243, 244);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 20px;
}

.edit:hover {
    background-color: rgb(231, 231, 231);
    text-decoration: none;
    color: black;
}

.profile-data {
    margin-top: 20px;
    margin-left: 20px;
}

.following {
    font-weight: 600;
}

.follower {
    margin-left: 50px;
    font-weight: 600;
}

.profile-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    padding-left: 32px;
    color: grey;
    width: 16%;
    font-size: 18px;
    justify-content: center;
}

.profile-menu ul a {
    text-decoration: none;
    font-weight: 500;
}

.profile-menu ul li:hover {
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.highlight {
    margin-top: 50px;
    margin-left: 230px;
    width: 300px;
    padding-bottom: 30px;
}

.highlight h2 {
    font-size: 35px;
}

.highlight a {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
}

.profile-menu-item {
    border-bottom: 3px solid deepskyblue;
    padding-bottom: 15px;
    font-weight: 500;
}

.likes {
    margin-top: 5px;
    padding: 1px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: rgb(234, 250, 255);
    ;
}

.like-text {
    font-size: 15px;
}

.media {
    margin-top: -17px;
}

.media-post {
    width: 33.33%;
    height: 200px;
    float: left;
    border: 1px solid rgb(239, 243, 244);
}

.media-post:hover {
    cursor: pointer;
    background-color: rgb(232, 245, 253);
}

.media-post img {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.post-user-info {
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 50%;


}

.post-user-info:hover {
    background-color: rgb(239, 243, 244);
}

.user-post {
    display: flex;
    border: 1px solid rgb(239, 243, 244);
    padding: 20px 0;
}

.user-post:hover {
    background-color: rgb(247, 247, 247);
}

.post-name {
    font-weight: 500;
    font-size: 18px;
}

.post-username {
    color: grey;
}

.postuser-name {
    margin-top: 7px;
}

.post-content {
    margin-top: -10px;
    font-size: 15px;
}

.post-delete-icon {
    padding-top: 10px;
}

.post-delete-icon i {
    border-radius: 50%;
    padding: 12px;
}

.post-delete-icon i:hover {
    background-color: rgb(189, 242, 255);
    cursor: pointer;
    color: deepskyblue;
}

.post-img {
    border: 1px solid rgb(207, 217, 222);
    height: 250px;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
}

.post-img:hover {
    background-color: rgb(225, 238, 246);
}

.post-img img {
    height: 100%;
    width: 100%;
}

.icons {
    margin-top: 20px;
}

.comment-icon i {
    padding: 10px;
    border-radius: 50%;
}

.comment-icon i:hover {
    background-color: rgb(189, 242, 255);
    color: deepskyblue;
    cursor: pointer;
}

.like-icon i {
    padding: 10px;
    border-radius: 50%;
    margin-left: 20px;
}

.like-icon i:hover {
    background-color: rgb(255, 230, 245);
    cursor: pointer;
    color: deeppink;
}

.posts {
    margin-top: -17px;
}

.edit_cover_pic_div,
.edit_profile_pic_div {
    position: relative;
    width: 450px;
    height: 150px;
    margin: 0 auto;

}

.edit_profile_pic_div {
    margin-top: -60px;
    margin-left: 30px;
    height: 10px;
}

.edit_cover_pic_div img {
    width: 100%;
    height: 100%;
}

.edit_profile-pic_div label img:hover {
    cursor: pointer;

}

.edit_profile-pic_div {
    position: absolute;
}

.myeditpic {
    position: absolute;
    height: 30px;
    margin-left: -75px;
    margin-top: -10px;
    background-color: white;
}
.myeditpic:hover{
    cursor: pointer;
}
.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-icon img {
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.edit-icon img:hover {
    cursor: pointer;
}

.cover-label i {
    color: white;
    font-size: 25px;
}

.cover-label:hover {
    cursor: pointer;
}

/* Follow Page / Connect */

.connect {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 23px;
    font-weight: 700;
}

.to-follow {
    margin-left: 250px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid deepskyblue;
    width: fit-content;
    padding-bottom: 10px;
    padding: 10px 55px;
}

.to-follow:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.follow-div {
    border-bottom: 1px solid rgb(239, 243, 244);
}

.suggest {
    margin-top: 10px;
    margin-left: 80px;
}

.suggest p {
    font-size: 22px;
    font-weight: 700;
}

.show-to-followw-btn a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

.show-to-followw-btn {
    margin-top: 12px;
    margin-left: 100px;
}

.show-to-followw-data {
    margin-left: 10px;
}

.show-to-followw-data a {
    text-decoration: none;
    color: black;
}

.show-to-followw-name {
    font-weight: 600;
    font-size: 18px;
}

.followw {
    width: 767px;
}

.background {
    padding: 10px;
}

.background:hover {
    background-color: rgb(247, 247, 247);
}

.background-follow {
    padding: 10px 20px;
}

.background-follow:hover {
    background-color: rgb(247, 247, 247);
}