* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    margin-top: 200px;
}

.img {
    padding: 80px;
    width: 40%;
}

.img img {
    width: 100%;
    height: 100%;
}

.forms {
    margin-left: 50px;
    width: 60%;
}

.forms h1 {
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 600;
}

.form-content {
    width: 70%;
    margin-left: 20px;
}

.form-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.google,
.apple,
.create-account,
.sign-in {
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    width: 70%;


}

.google a,
.apple a,
.create-account a,
.sign-in a {
    color: black;
    text-decoration: none;
}

.apple i,
.google i {
    font-size: 25px;
    margin: 0 8px;
}

.create-account {
    background-color: deepskyblue;
    color: white;
    margin-top: 0;
}

.create-account a {
    font-weight: 700;
    width: 100%;
    margin-left: 110px;
}

.or {
    width: 70%;
    margin-top: 10px;
}

.terms {
    margin-top: 5px;
    width: 70%;
}

.terms p {
    font-size: 13px;
}

.terms p a {
    text-decoration: none;
}

.already p {
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}

.google:hover,
.apple:hover {
    background-color: rgb(220, 233, 238);
}

.create-account:hover {
    background-color: skyblue;
}

.sign-in a {
    font-weight: 700;
    width: 100%;
    margin-left: 140px;
}

.sign-in:hover {
    background-color: aliceblue;
}

.footer {
    margin-top: 185px;
    font-size: 11.9px;
}

.footer a {
    color: black;
    text-decoration: none;
}

/* Header / Slider css */

.slider {
    width: 25%;
    margin-top: 20px;
    position: fixed;
}


.items li {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    font-size: 22px;
}

.items li:hover {
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
}

.items li a {
    color: black;
    text-decoration: none;
    margin: 0 0 0 30px;
}

.items i {
    font-size: 20px;
}

.post {
    border-radius: 25px;
    width: 50%;
    margin-top: 49px;
    padding: 5px;
}

.post a {
    text-decoration: none;
    font-size: 25px;
    margin-left: 95px;

}

.user_profile {
    display: flex;
    margin-top: 30px;
    border-radius: 40px;
    width: 50%;
}

.user_profile:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.user_image {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 0 40px;
    padding-left: 15px;
    background-color: rgb(110, 190, 110);
    border-radius: 50%;
}

.user_data {
    margin-left: 10px;
    margin-top: 10px;
}

.show_first_name {
    font-size: 20px;
    margin-left: 6px;
    padding-top: 12px;
    color: white;
}

.profle_name {
    font-size: 20px;
    font-weight: 500;
}

.ellipsis {
    margin-top: 25px;
}

.profile_model {
    padding: 8px 10px;
    margin-top: 8px;
    border: 2px solid white;
    border-radius: 5px;
    width: 50%;
    box-shadow: 2px 2px 2px 2px rgb(182, 182, 182);
}

.profile_model a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.for_logout {
    margin: 0 auto;
    margin-top: 151px;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 30px;
    box-shadow: 2px 2px 2px 2px rgb(182, 182, 182);
    display: none;

}

/* Main Footer css */
.footers {
    width: 20%;
    margin-left: 1018px;
    position: fixed;
    padding: 10px;
}

.footer-search-div {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 20px;
}

.footer-search-input {
    border: none;
    margin-left: 10px;
    width: 80%;
}


/* Content Part css */
.middle {
    width: 40%;
    position: absolute;
    margin-left: 250px;
}

.middle .ul {
    width: 100%;
    background-color: white;
}
.middle .ul:hover{
    cursor: pointer;
}

.middle li a {
    list-style: none;
    text-decoration: none;
    width: 48%;
    color: black;
    padding: 20px 125px;
    font-weight: 500;
}

.middle li {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

/* Explore Tab */
.explore {
    width: 40%;
    position: absolute;
    margin-left: 250px;
}

.exp {
    margin-top: 20px;
}

.explore-search-div {
    border: 1px solid grey;
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    margin-left: 30px;
}

.explore-search-input {
    border: none;
    width: 90%;
    margin-left: 10px;
}

.explore-setting {
    margin-top: 10px;
    margin-left: 30px;
}

.explore-setting a {
    color: black;
    font-size: 20px;
}

.explore-list li {
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: -3px;
}

.explore-list a {
    text-decoration: none;
    padding: 10px 35px;
    color: black;
    font-weight: 500;
}

.explore-fix {
    position: fixed;
    width: 40%;
    background-color: white;
}
.explore-fix:hover{
    cursor: pointer;
}

/* Notification Tab */
.notification {
    width: 40%;
    position: absolute;
    margin-left: 250px;
}
.notification-fix {
    position: fixed;
    width: 40%;
    background-color: white;
}
.notification-fix:hover{
    cursor: pointer;
}
.notification-list li {
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    width: 30%;
}

.notification-list a {
    text-decoration: none;
    padding: 7% 40%;
    color: black;
    font-weight: 500;
    width: 100%;
}
.notify{
    font-size: 22px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 10px;
}

/* Messages Tab */

.message {
    width: 40%;
    position: absolute;
    margin-left: 250px;
}
.message-fix {
    padding: 10px 0;
    position: fixed;
    width: 40%;
    background-color: white;
}
.mesg{
    font-size: 22px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
}
.msg-setting{
    font-size: 20px;
    color: black;
    margin-left: 450px;
}


/* Bookmarks Tab */

.bookmark {
    width: 40%;
    position: absolute;
    margin-left: 250px;
}
.bookmark-fix {
    padding: 10px 0;
    position: fixed;
    width: 40%;
    background-color: white;
}
.mesg{
    font-size: 22px;
    font-weight: 500;
    margin-left: 50px;
    margin-top: 10px;
}
.save-post{
    margin-top: 150px;
    margin-left: 230px;
}
.bookmark-msg{
    margin-left: 175px;
}